<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Demo - List</title>
		
	<!-- All stylesheets and scripts injected into each page -->
	<link rel="stylesheet" href="">
	<link rel="stylesheet" href="/lib/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/css/fontawesome.min.css">
	<link rel="stylesheet" href="/lib/css/roboto.min.css">
	<link rel="stylesheet" href="/lib/css/toastr.min.css">
	<link rel="stylesheet" href="/lib/css/vue-autocomplete.min.css">
	<link rel="stylesheet" href="/lib/css/vue-multiselect.min.css">
	<link rel="stylesheet" href="/lib/css/vue-tour.min.css">
	<link rel="stylesheet" href="/css/integrity-table.css">
	<link rel="stylesheet" href="/css/integrity-navbar.css">
	<link rel="stylesheet" href="/css/integrity-drawer.css">
	<link rel="stylesheet" href="/css/overrides.css">
	<script src="/lib/js/jquery.min.js"></script>
	<script src="/lib/js/vue.js"></script>
	<script src="/lib/js/lodash.min.js"></script>
	<script src="/lib/js/moment.min.js"></script>
	<script src="/lib/js/toastr.min.js"></script>
	<script src="/lib/js/chart.min.js"></script>
	<script src="/lib/js/bootstrap.min.js"></script>
	<script src="/lib/js/vue-multiselect.min.js"></script>
	<script src="/lib/js/vue-autocomplete.min.js"></script>
	<script src="/lib/js/vue-tour.min.js"></script>
	<script src="/js/integrity.js"></script>
	<script src="/js/integrity-table.js"></script>
	<script src="/js/integrity-navbar.js"></script>
	<script src="/js/integrity-drawer.js"></script>
	<script src="/lib/js/paho-mqtt.js"></script>		<!-- added for server mqtt comms -->
	<script src="/lib/js/plugins/mqtt.js"></script>		<!-- added for server mqtt comms -->

	

	</head>
	<body>
		<style>
			
/* This is the last style tag linked into every page */
html {
    padding: 0;
}
html,
body,
#app {
    height: 100%;
    overflow: hidden;
}
.app-container {
    height: calc(100% - 40px);
    padding: 10px;
}

[v-cloak] {
    visibility: hidden;
}

		</style>
		<script type="text/x-template" id="integrity-drawer">
<div class="int-drawer-background" @click.self="backgroundClicked()" v-if="show">
	<div class="int-drawer">
		<div class="btn btn-danger float-right" @click="backgroundClicked()"><i class="fas fa-window-close"></i></div>
		<slot>Hi</slot>
	</div>
</div>
</script>
<script type="text/x-template" id="integrity-navbar">
<nav id="integrity-main">Integrity<span>OS</span>
	<span class="float-right welcome-user">
		<span id="user">{{fullname}}</span> : <span id="role">{{role}}</span>
	</span>
</nav>
</script>
<script type="text/x-template" id="integrity-table">
<div id="int-table-wrapper">
<div class="int-table-flex int-table-align">
	<div class="col-3">
		<h2>{{name}}</h2>
	</div>
	<div class="col-6">
		<div v-show="filterToggle" class="int-table-flex">
			<div class="col-5">
				<select class="form-control" v-model="selectedFilterColumn">
					<option value='nocolumn'>Select Column...</option>
					<option v-for='(item, index) in columns' :value="item">{{item}} {{activeFilterCount(item)}}</option>
				</select>
			</div>
			<div class="col-5">
				<div v-if="selectedFilterColumn != 'nocolumn'" class="int-table-lift">
					<vue-multiselect :options="filterOptions[selectedFilterColumn]" v-model="filters[selectedFilterColumn]" :multiple="true" :close-on-select="false" :clear-on-select="false" :limit="0" :limit-text="limitText" placeholder="" @close=""></vue-multiselect>
				</div>
			</div>
			<div class="col-1"></div>
			<div class="col-1 btn btn-warning" @click="resetFilters"><i class="fas fa-recycle"></i></div>
		</div>
	</div>
	<div class="int-table-flex col-3">
		<div :class="'col-2 btn btn-' + (filterToggle ? 'info' : 'primary')" @click="filterToggle = !filterToggle"><i class="fas fa-filter"></i></div>
		<div class="col-1"></div>
		<input type="text" v-model="search" class="form-control col-8" placeholder="search">
	</div>
</div>
<div id="int-table-container">
	<div class="int-table">
		<div class="int-table-header">
			<div class="int-table-row">
				<div v-for="(column, index) in columns" @click="setOrder(index + 1)" :class="colWidthClass(fields[index])">
					<span>{{column}} <i :class="sortClass()" v-if="order == index + 1"></i></span>
				</div>
			</div>
		</div>
		<div class="int-table-body">
			<div class="int-table-row" v-for="(item, index) in filtered(mainCollection)" v-if="pagination(index)" @click="select(item)">
				<div v-for="(value, field) in item" :class="cellStyleClass(item, field) + ' ' + colWidthClass(field)" >
					<slot :item="item" :name="field">{{value}}</slot>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="float-right">
	<div :class="previousButtonClass()" @click="previousButtonClick()">Previous</div>
	<span id="int-table-paging-text">{{pagingText}}</span>
	<div :class="nextButtonClass()" @click="nextButtonClick()">Next</div>
</div>
<div class="int-table-record-count">{{summaryText}}</div>
</div>
</script>

		<div id="app" v-cloak>
			
    <!-- This is injected as the first child to #app in each page -->
    <integrity-navbar></integrity-navbar>

			<div class="app-container">
				<div v-if="hasList">
					<div
						class="d-flex align-items-start bd-highlight mb-3 justify-content-start"
					>
						<div
							class="d-flex align-items-start bd-highlight mb-3 justify-content-start"
						>
							<button
								type="button"
								v-on:click="pick"
								class="btn btn-primary mb-3 mr-5 align-self-center"
							>
								Pick Kit
							</button>
						</div>
						<div
							class="d-flex align-items-start bd-highlight mb-3 justify-content-start"
						>
							<button
								type="button"
								v-on:click="put"
								class="btn btn-primary mb-3 mr-5 align-self-center"
							>
								Put Kit
							</button>
							<div :class="getClass" :role="alert">
								{{ statusMessage }}
							</div>
						</div>
					</div>

					<h1>{{ pageName }}</h1>
				</div>

				<integrity-table
					v-if="hasList"
					:name="getTitle"
					:collection="kitList"
					:columns="columns"
				>
				</integrity-table>

				<div v-else class="d-flex justify-content-center">
					<div class="container-fluid">
						<div class="row justify-content-center">
							<div class="spinner-border" role="status">
								<span class="sr-only">Loading...</span>``
							</div>
						</div>
						<div class="row justify-content-center">
							<strong>{{ updateMsg }}</strong>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
			
Vue.use(Mqtt);

/* This is injected right before every pages view model is initialized */
Vue.mixin({
    data() {
        return {
            config: null,
        };
    },
    // Global mixin standard components
    components: {
        "vue-autocomplete": Autocomplete,
        "vue-multiselect": window.VueMultiselect.default,
        "vue-tour": window["vue-tour"].default,
    },
    // Provide sensible callback defaults in the event they are not defined in the page module
    methods: {
        // Default limit text function for multiselect
        limitText(count) {
            return "(" + count + ") selected";
        },
        // Default drawer closer, assumes presence of drawerShow data var
        closeDrawer() {
            this.drawerShow = false;
        },
        // No style class if one not defined
        cellStyleClass(item, field) {
            return "";
        },
        // Standard col width if one not defined
        colWidthClass(field) {
            return "int-table-width-1";
        },
    },
    async created() {
        $.ajaxSetup({
            headers: {
                "Content-type": "application/json",
            },
            timeout: 10000, //Time in milliseconds
        });

        try {
            const response = await $.ajax({
                url: "../runtime_config.json",
                type: "GET",
            });
            if (response === null) console.log("config file not found!");
            else this.config = response;
        } catch (err) {
            console.log(err);
        }

        Integrity.setCookie();
    },
});

// This simulates a user having securely logged in
ilib.setCookie("fullname", "Demo User");
ilib.setCookie("role", "Admin");


			const vm = new Vue({
				el: "#app",
				data: {
					pageName: "Kitting Inventory",
					columns: [
						"Detail",
						"Part Number",
						"Description",
						"Material",
						" Required Quantity",
						"In-stock Quantity",
					],
					kitList: [],
					kitName: "",
					updateMsg: "Waiting for server...",
					updateValue: 0,
					statusKey: -1,
					statusValue: {0:"alert alert-dark align-self-center  ml-auto p-2",	 //gray - not ready
									1:"alert alert-primary align-self-center  ml-auto p-2", //blue -  ready to pick
									2:"alert alert-warning align-self-center  ml-auto p-2", //yellow - picked being assembled
									3:"alert alert-success align-self-center  ml-auto p-2", //green - returned to Kardex
									4:"alert alert-danger align-self-center  ml-auto p-2", //red - Kit delivered
									'-1':"alert alert-light align-self-center"},
					statusMessage: "Kit ready for assembly",
					alert: "alert",
				},
				computed: {
					getTitle: function () {
						var title = this.kitName;
						return title;
					},
					hasList: function () {
						return this.kitList.length > 0;
					},
					getMessages() {
						if (
							this.$mqtt !== null &&
							typeof this.$mqtt !== "undefined"
						) {
							return this.$mqtt.getMessage();
						}
					},
					getClass: function () {
						var key = this.statusKey;
						return this.statusValue[key]	
					},
				}, // --- End of computed --- //
				methods: {
					cellStyleClass(item, field) {
						if (field == "column2" && item.column2 % 2 == 0) {
							return "int-table-cell-pink";
						}
						return "";
					},
					colWidthClass(field) {
						if (field == "column1") {
							return "int-table-width-2";
						}
						return "int-table-width-1";
					},
					successClicked() {
						toastr.success("Success");
					},
					primaryClicked() {
						toastr.info("Primary");
					},
					openDrawer() {
						this.drawerShow = true;
					},
					put(event) {
						var baseUrl = `${this.config.API_PROTOCOL}://${this.config.API_HOST}/${this.config.API_PATH}`;
						Integrity.get(baseUrl + `/kit/put${query}`);
					},
					pick(event) {
						var baseUrl = `${this.config.API_PROTOCOL}://${this.config.API_HOST}/${this.config.API_PATH}`;
						var query = "?name=" + this.kitName;
						console.log(JSON.stringify(this.kitList));
						Integrity.post(
							baseUrl + `/kit/pick${query}`,
							this.kitList
						);
					},
					retrieveKits(query) {
						var baseUrl = `${this.config.API_PROTOCOL}://${this.config.API_HOST}/${this.config.API_PATH}`;
						var query = "?name=" + this.kitName;
						Integrity.get(baseUrl + `/kit${query}`)
							.done(function (response) {
								if (response === null) {
									vm.kitList = [
										{
											name: "No items found",
											detail: "N/A",
											description: "N/A",
											type: "N/A",
											requested_quantity: 0,
											stock_quantity: 0,
										},
									];
								} else {
									vm.kitList = response.data;
								}
							})
							.fail(function (err) {
								vm.kitList = [
									{
										name: "Err",
										detail: "Err",
										description: "Err",
										type: "Err",
										requested_quantity: -1,
										stock_quantity: -1,
									},
								];
								console.log(err);
							});
					},
				}, // --- End of methods --- //
				watch: {
					getMessages: function (newValue, oldValue) {
						if (
							newValue.hasOwnProperty("message") &&
							newValue.hasOwnProperty("destination")
						) {
							let destination = newValue.destination;
							let message = JSON.parse(newValue.message);
							console.log(destination + " : " + message);

							if (destination === "message") {
								if (
									message.hasOwnProperty("message") &&
									message.hasOwnProperty("mode") &&
									message.hasOwnProperty("value")
								) {
									var mode = message.mode;
									if (mode == "pick") {
										this.statusKey = message.value;
										this.statusMessage = message.message;
									} else if (mode == "put") {
										this.statusKey = message.value;
										this.statusMessage = message.message;
									} else {
										this.updateValue = message.value;
										this.updateMsg = message.message;
									}
								}
							} else if (destination === "kit") {
								this.kitName = message;
							}
						}
					},
					config: function (newValue) {
						if (
							this.config !== null &&
							typeof this.config !== "undefined" &&
							newValue !== null &&
							typeof newValue !== "undefined" &&
							this.kitList.length === 0
						) {
							this.statusKey = 1;
							var query = decodeURIComponent(location.search);
							const params = new URLSearchParams(query);
							this.kitName = params.get("name");
							this.kitName = this.kitName.replace(/%20/g, " ");
							query = query.replace(/%20/g, " ");
							this.retrieveKits(query);
							this.$mqtt.connect();
						}
					},
				}, // --- End of watch --- //
				created: function () {},
				// Available hooks: init,mounted,created,updated,destroyed
				mounted: function () {}, // --- End of mounted hook --- //
			});
		</script>
	</body>
</html>
